.body{
    background: linear-gradient(69.66deg, #00C1FE 19.39%, #FAFFC1 96.69%);
}
#sidebar-wrapper {
    min-height: 100vh;
    margin-left: -15rem;
    -webkit-transition: margin 0.25s ease-out;
    -moz-transition: margin 0.25s ease-out;
    -o-transition: margin 0.25s ease-out;
    transition: margin 0.25s ease-out;
  }
 
  
  #sidebar-wrapper .list-group {
    width: 15rem;
  }
  

  #wrapper.toggled #sidebar-wrapper {
    margin-left: 0;
  }
  
  #menu-toggle {
    cursor: pointer;
  }
  
  .list-group-item {
    border: none;
    padding: 20px 30px;
  }
  
 
  .active {
    background-color: #00C1FE !important;
  }
  @media (min-width: 768px) {
    #sidebar-wrapper {
      margin-left: 0;
    }
  
    #page-content-wrapper {
      min-width: 0;
      width: 100%;
    }
  
    #wrapper.toggled #sidebar-wrapper {
      margin-left: -15rem;
    }
  }
  .aside-bar-links {
    border-radius: 10px  !important;
}
.ms-6 {
    margin-left: 4rem ;
}
.ms-7 {
    margin-left: 5rem ;
}
.mt-6 {
    margin-top: 10rem ;
}
.mt-9 {
    margin-top: 13rem;
}
.vl{
  vertical-align: middle;
}
#spacing-row {
  height: 5px
}
@media  screen and (max-width : 991px) {
    .navb-inp {
        margin-top: 10px !important;
    }
}
/* Cards Titles Costumizations */
@media  screen and (max-width : 1181px) {
  .price {
    font-size: 0.9rem ;
  }
  .price1 {
    font-size: 1.5rem !important ;
  } 
  .payments-c {
    height: 185px;
  }
}
/* Costum the billy notfication icon */
@media  screen and (max-width : 884px){
  .input-group {
    width: 80% !important;
  }
  .not-but {
    position: relative;
    left: 270px;
    bottom: 37px;
  }

}

@media  screen and (max-width : 320px){
 
  .not-but {
    position: relative;
    left: 228px;
    bottom: 37px;
  }

}